<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        Welcome to {{ title }}!
    </h1>
    <h2>Powered by Angular, darksky and Google Maps</h2>
</div>

<div class="container mb-3">
    <ul class="col-12 nav justify-content-center mb-4">
        <li class="nav-item">
            <a class="nav-link" routerLink="/weather-forecast">Locations list</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/location-form">Add location</a>
        </li>
    </ul>
    <router-outlet></router-outlet>
</div>
